<!DOCTYPE html>
<html>
<head>
	<title>Com Port Simulator</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body onload="init()">
<h2>Com Port Simulator for UART data</h2>
<br>


<label for="comports">Choose COM port:</label>
<select name="ports" id="comports">
	
</select>




<button id="conBtn" onclick="toggleConnectFunction()">Connect</button>
<br>
<br>

<div>
  <label for="rangeInput">Distance :</label>
	<input id="rangeInput"  name="distance" type="range" min="0" value ="0" max="999999" step="0.1" oninput="amount.value=rangeInput.value" />
	<input id="amount" type="number" style="width: 100px;" value="0.0" min="0" max="999999" oninput="rangeInput.value=amount.value" />
</div>
<br>
<div>
  <label for="batteryPower">Battery Power :</label>
	<input id="batteryPower" name="batteryPower" type="range" min="0" value ="0" max="5000" step="0.01" oninput="batteryPowerNumber.value=batteryPower.value" />
	<input id="batteryPowerNumber" type="number" style="width: 100px;" value="0.0" min="0" max="5000" oninput="batteryPower.value=batteryPowerNumber.value" />
</div>
<br>
<div>
  <label for="batteryVoltage">Voltage :</label>
	<input id="batteryVoltage" name="batteryVoltage" type="range" min="0" value ="0" max="14" step="0.01" oninput="batteryVoltageNumber.value=batteryVoltage.value" />
	<input id="batteryVoltageNumber" type="number" style="width: 100px;" value="0.0" min="0" max="14" oninput="batteryVoltage.value=batteryVoltageNumber.value" />
</div>
<br>
<div>
  <label for="batteryAmps">Amps :</label>
	<input id="batteryAmps" name="batteryAmps" type="range" min="0" value ="0" max="500" step="0.01" oninput="batteryAmpsNumber.value=batteryAmps.value" />
	<input id="batteryAmpsNumber" type="number" style="width: 100px;" value="0.0" min="0" max="500" oninput="batteryAmps.value=batteryAmpsNumber.value" />
</div>
<br>
<div>
  <label for="wattHr">Watt Hr :</label>
	<input id="wattHr" name="wattHr" type="range" min="0" value ="0" max="999999" step="0.1" oninput="wattHrNumber.value=wattHr.value" />
	<input id="wattHrNumber" type="number" style="width: 100px;" value="0.0" min="0" max="999999" oninput="wattHr.value=wattHrNumber.value" />
</div>
<br>
<div>
  <label for="speed">Speed :</label>
	<input id="speed1" name="speed" type="range" min="0" value ="0" max="20.0" step="0.1" oninput="speednumber.value=speed1.value" />
	<input id="speednumber" type="number" style="width: 100px;" value="0" min="0" max="20.0" oninput="speed1.value=speednumber.value" />
</div>
<br>
<div>
  <label for="batteryCapacity">Battery Capacity :</label>
	<input id="batteryCapacity" name="batteryCapacity" type="range" min="1" value ="1" max="5" step="1" oninput="batteryCapacityNumber.value=batteryCapacity.value" />
	<input id="batteryCapacityNumber" type="number" style="width: 100px;" value="1" min="1" max="5" oninput="batteryCapacity.value=batteryCapacityNumber.value" />
</div>
<br>
<br>
<br>

<p id='test'></p>
</body>

<script src="../static/js/main.js"></script>
</html>
